@import "./colors.scss";

button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background: $primary-soft-blue;
    color: #fff;
    padding: 15px 10px 15px 10px;
}

.btn-secondary {
    background: $primary-soft-red;
    color: $neutral-very-dark-blue;
    padding: 15px 10px 15px 10px;
    color: #fff;


}

.btn-secondary-nav {
    background: $primary-soft-red;
    color: $neutral-very-dark-blue;
    padding: 15px 10px 15px 10px;
    color: #fff;

    padding: 15px 30px 15px 30px;

}