@import "colors.scss";
@import "variables.scss";

.extensions {
    max-width: $max-width-containers;
    margin: auto;
    padding: $padding-top $padding-right $padding-bottom $padding-left;

    h2 {
        text-align: $textCenter;

    }

    p {
        text-align: $textCenter;
        margin-top: 1rem;
    }

    .extensions-info {
        max-width: $max-width-content;
        margin: 0 auto 5rem auto;

    }
}

.boxes {
    max-width: $max-width-containers;
    margin: auto;
    padding: 0 $padding-right 0 $padding-left;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;




}

@media screen and (min-width:1024px) {
    .box-1 {
        margin-top: -8rem;
    }

    .box-2 {
        margin-top: -4.5rem;
    }

    .box-3 {
        margin-top: -2.5rem;
    }
}


.box {
    position: relative;
    box-shadow: 0px 4px 5px 0px hsl(229deg 12% 91%);
    max-width: 30rem;

    border-radius: 25px;


    .box-button {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;

        img {

            width: 100%;
            margin-bottom: 1.3rem;
        }

        button {
            width: 80%;

        }
    }


    .box-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        gap: 10px;
        padding: 55px;
        text-align: center;

        p {
            text-align: center;
        }




    }

}