@import "../css/colors.scss";
@import "../css/variables.scss";

.navigation-footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: $neutral-very-dark-blue;
    padding: $padding-top $padding-right $padding-bottom $padding-left;
    gap: 28px;

    .social-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }

    .navigation-footer-links {
        width: 40rem;
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        justify-content: flex-start;

        @media screen and (max-width:900px) {
            width: 100%;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }

    }

    .list {
        display: flex;
        width: 30rem;
        gap: 20px;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        @media screen and (max-width:900px) {
            width: 100%;
            flex-flow: column;

        }
    }

    .logo {
        width: 8rem;

        svg path {
            fill: #fff;

            &:hover {
                fill: $primary-soft-red !important;
            }
        }
    }

    a {
        color: #fff;
        margin: 0 20px 0 20px;
        text-decoration: none;
        font-weight: normal;
        text-align: $textCenter;


        &:hover {
            color: $primary-soft-red;
            fill: $primary-soft-red;
        }
    }


}