@import 'colors.scss';
@import "variables.scss";

header {
    position: relative;


    .navigation {
        position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;
        margin: auto;
        padding: $padding-top $padding-right $padding-bottom $padding-left;
        max-width: $max-width-containers;

        @media screen and (max-width: 900px) {
            justify-content: space-between;
        }

    }

    ul {
        gap: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;

        transition: all .5s ease-in-out;

        a {
            color: $neutral-very-dark-blue;
            text-decoration: none;
            text-transform: uppercase;
            width: 120px;
            transition: all .5s ease-in-out;

            &:hover {
                color: $primary-soft-red;
            }
        }
    }

    .hamburger-menu {
        display: none;
    }


}

.navigation-mobile {
    display: none;

}

.list-mobile-active {
    display: none;
}

@media screen and (max-width: 900px) {
    .list {
        display: none;

    }



    .list-mobile-active {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        background: $neutral-very-dark-blue;
        opacity: .9;
        position: fixed;
        width: 100%;
        height: 60%;
        inset: 0;
        z-index: 20;
        transition: all .2s ease-in-out;

        .logo svg path {
            fill: #fff;
        }


    }

    .navigation-mobile {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-flow: column wrap;
        gap: 30px;
    }

    .navigation-mobile a {
        color: #fff;
        text-align: center;
        border-bottom: 2px solid #ffffff4a;
        width: 85%;
        padding: 15px;
    }

    .items:nth-child(1) {
        border-top: 1px solid $neutral-grayish-blue;
        margin-top: 50px;
    }

    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }

    header .hamburger-menu {
        display: block;
    }
}